.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0);
}

.headerScrolled {
  background: rgba(0, 0, 0, 1);
}

.headerMenuBtn {
  display: none;
}

.headerSection {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
  }

  .headerSection.mainSection .mainOption {
    display: none;
  }
  
  .headerSection.profileSection {
    display: none;
  }
}

