.appSectionContainer {
  display: flex;
  flex-direction: column;
}

.appSectionContainer:not(:last-child) {
  margin-bottom: 20px;
}

.appSectionTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
}

.sectionItems {
  display: flex;
  justify-content: flex-start;
}

.sectionItems > *:not(:last-child) {
  margin-right: 15px;
}

.sectionItems.verticalItems > * {
  max-width: 25%;
}


.posterImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
}

.posterContainer:hover  .posterImg{
  transform: scale(1.1);
}


.arrowContainer {
  height: 22px;
  width: 43px;
  margin-top: 20px;
  position: relative;
}

.posterHoverArrow {
  position: absolute;
  top: -20px;
  left: 0;
  transition: all 0.2s;
  opacity: 0;
}

.posterContainer:hover .posterHoverArrow {
  top: 0;
  opacity: 1;
}


.playButton {
  position: absolute;
  opacity: 0;
  top: calc(50% - 42px);
  transition: all 0.2s;
}

.posterContainer:hover .playButton {
  opacity: 1;
}


@media (max-width: 500px) {
  .appSectionContainer > *:not(:last-child) {
    margin-right: 9px;
  }

  .sectionItems {
    display: flex;
    flex-direction: column;
  }
  
  
  .sectionItems.verticalItems {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sectionItems > *:not(:last-child) {
    margin-right: 0px;
  }

  .sectionItems.verticalItems > *:not(:last-child) {
    margin-right: 0px;
  }

  .sectionItems.verticalItems > * {
    max-width: 50%;
  }

  .sectionItems.verticalItems > div:nth-child(odd) {
    padding-right: 2px;
  }

  .sectionItems.verticalItems > div:nth-child(even) {
    padding-left: 2px;
  }
}