.appSectionContainer {
  top: 30%;
}

.sectionItems {
  display: flex;
  justify-content: space-between;
}


.posterImg {
  width: 100%;
}

@media (max-width: 700px) {
  .sectionItems {
    display: flex;
    flex-direction: column;
  }

  .movieItemContainer {
    width: 100%;
    padding: 0 10px;
    height: 100px;
  }
}