.appSectionContainer {
  display: flex;
  flex-direction: column;
  top: 30%;
}

.appSectionTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
}

.sectionItems {
  display: flex;
  justify-content: flex-start;
}

.sectionItems > *:not(:last-child) {
  margin-right: 15px;
}

.sectionItems.verticalItems > * {
  max-width: 25%;
}


.posterImg {
  width: 100%;
}

@media (max-width: 500px) {
  .appSectionContainer > *:not(:last-child) {
    margin-right: 9px;
  }

  .sectionItems {
    display: flex;
    flex-direction: column;
  }
  
  
  .sectionItems.verticalItems {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sectionItems > *:not(:last-child) {
    margin-right: 0px;
  }

  .sectionItems.verticalItems > *:not(:last-child) {
    margin-right: 0px;
  }

  .sectionItems.verticalItems > * {
    max-width: 50%;
  }

  .sectionItems.verticalItems > div:nth-child(odd) {
    padding-right: 2px;
  }

  .sectionItems.verticalItems > div:nth-child(even) {
    padding-left: 2px;
  }
}