.menuContainer {
  cursor: pointer;
  display: block;
  position:fixed;
  padding: 15px;
  z-index: 100;
}

.bar {
  width: 21px;
  height: 1px;
  background-color: white;
  margin: 6px 0;
  transition: 0.2s;
}

.sidebarContainer {
  width: 0;
  position: absolute;
  background-color: black;
  top: 0;
  width: calc(100% * 2/3);
  transform: translate3d(-100%, 0px, 0px);
  transition: all 0.2s;
  transition-timing-function: ease-in;
  height: 100%;
}

.sidebarContainer.sidebarContainerOpen {
  transform: translate3d(0px, 0px, 0px);
}