.bellContainer {
  position: relative;
  width: 16px;
  height: 16px;
}

.notificationsDot {
  position: absolute;
  right: 0;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}